<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smarthome.mybatis.mapper.SensorDataMapper" >
  <resultMap id="BaseResultMap" type="com.smarthome.mybatis.po.SensorData" >
    <constructor >
      <idArg column="slId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sensorId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="roomId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="logtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="sensorValue" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    slId, sensorId, roomId, logtime, sensorValue
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sensor_data
    where slId = #{slId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sensor_data
    where slId = #{slId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.smarthome.mybatis.po.SensorData" >
    insert into sensor_data (slId, sensorId, roomId, 
      logtime, sensorValue)
    values (#{slId,jdbcType=INTEGER}, #{sensorId,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER}, 
      #{logtime,jdbcType=TIMESTAMP}, #{sensorValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.smarthome.mybatis.po.SensorData" >
    insert into sensor_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="slId != null" >
        slId,
      </if>
      <if test="sensorId != null" >
        sensorId,
      </if>
      <if test="roomId != null" >
        roomId,
      </if>
      <if test="logtime != null" >
        logtime,
      </if>
      <if test="sensorValue != null" >
        sensorValue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="slId != null" >
        #{slId,jdbcType=INTEGER},
      </if>
      <if test="sensorId != null" >
        #{sensorId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="logtime != null" >
        #{logtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sensorValue != null" >
        #{sensorValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smarthome.mybatis.po.SensorData" >
    update sensor_data
    <set >
      <if test="sensorId != null" >
        sensorId = #{sensorId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null" >
        roomId = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="logtime != null" >
        logtime = #{logtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sensorValue != null" >
        sensorValue = #{sensorValue,jdbcType=VARCHAR},
      </if>
    </set>
    where slId = #{slId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smarthome.mybatis.po.SensorData" >
    update sensor_data
    set sensorId = #{sensorId,jdbcType=INTEGER},
      roomId = #{roomId,jdbcType=INTEGER},
      logtime = #{logtime,jdbcType=TIMESTAMP},
      sensorValue = #{sensorValue,jdbcType=VARCHAR}
    where slId = #{slId,jdbcType=INTEGER}
  </update>
</mapper>